<p id="notice"><%= notice %></p>

<h2>
  <strong>Name:</strong>
  <%= @experience.name %>
</h2>

<h2>
  <strong>Description:</strong>
  <%= @experience.description %>
</h2>

<h2>
  <strong>Price:</strong>
  <%= @experience.price %>
</h2>

<h2>
  <strong>Image:</strong>
  <%= image_tag @experience.image.thumb.url %>
</h2>
<%= link_to 'Select', new_charge_path %>

<%= link_to 'Back', experiences_path %>
